#Post-form{
    margin-top: 20px;
    width: 70%;
    
}

#file{
    color: blueviolet;
    
}
.label-file {
    cursor: pointer;
    color: #00b1ca;
    font-weight: bold;
}
.label-file:hover {
    color: #25a5c4;
}
.create-submit{
    transition: transform 0.5s;
    
}
.create-submit:hover{
    transform: scale(1.1);
}