.button-container{
    transition: transform 0.5s;
    

}
.button-container:hover{
    transform: scale(1.1);

}

.delete-container{
    transition: transform 0.5s;

}
.delete-container:hover{
    transform: scale(1.1);

}

.like-container{
    transition: transform 0.5s;

}
.like-container:hover{
    transform: scale(1.1);
}