@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.profil-page{
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    

    font-size: 30px;
    text-align: center;
    font-size: 30px;

    
}
#register{
    font-size: 30px;
}
#register:hover{
    color: red;
}
#login:hover{
    color: red;
}
#login{
    margin-top: 10px;
}
