.post{
    width: 500px;
    height: auto;
    
    border: 5px solid #1C6EA4;
    border-color: black;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    
}

section{
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    

}
.post-action{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 10%;
    width: 100%;
}
.post-contenu{
    height: 70%;
    width: 100%;
}
.img{
    height: 100%;
    width: 100%;
}