.button-container{
    transition: transform 1s;
    

}
.button-container:hover{
    transform: scale(1.3);

}

.delete-container{
    transition: transform 1s;

}
.delete-container:hover{
    transform: scale(1.3);

}

.like-container{
    transition: transform 1s;

}
.like-container:hover{
    transform: scale(1.3);
}